[submodule "minikin/third-party/harfbuzz"]
	path = minikin/third-party/harfbuzz
	url = git@github.com:harfbuzz/harfbuzz.git
[submodule "minikin/third-party/icu"]
	path = minikin/third-party/icu
	url = git@github.com:unicode-org/icu.git
